# Demo Contacts Refactoring on PostgreSQL (PG)

In [ ]:
import os

In [2]:
# A exécuter une fois ici pour installer le package psycopg2-binary 
# (remplace sqlite3 pour les accès PG)
#
#!pip install psycopg2-binary

In [3]:
import psycopg2

## Fonctions Aide PostgreSQL

In [4]:
def ouvrir_connection(nom_bdd, utilisateur, mot_passe, host='localhost', port=5432):
    try:
        conn = psycopg2.connect(dbname=nom_bdd, user=utilisateur, password=mot_passe, host=host, port=5432)
    except psycopg2.Error as e:
        print("Erreur lors de la connection à la base de données")
        print(e)
        return None
    # On force autocommit (non applicable ds SQLite3)
    conn.set_session(autocommit=True)
    return conn

In [5]:
def supprimer_table(conn, sql_suppression_table):
    try:
        cursor = conn.cursor()
        cursor.execute(sql_suppression_table)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de la suppression de la table")
        print(e)
        return
    cursor.close()
    print("La table a été supprimée avec succès")

    
def creer_table(conn, sql_creation_table):
    try:
        cursor = conn.cursor()
        cursor.execute(sql_creation_table)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de la création de la table")
        print(e)
        return
    cursor.close()
    print("La table a été crée avec succès")

    
def inserer_donnees(conn, sql_insertion_table, donnees):
    try:
        cursor = conn.cursor()
        for d in donnees:
            cursor.execute(sql_insertion_table, d)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de l'insertion des données")
        print(e)
        return
    cursor.close()
    print("Les données ont été insérées avec succès")

    
def lire_donnees(conn, sql_requete):
    try:
        cursor = conn.cursor()
        cursor.execute(sql_requete)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de la lecture des données")
        print(e)
        return None
    
    print("Les données ont été lues avec succès")
    data = []
    for row in cursor:
        data.append(row)

    cursor.close()
    
    return data

### Requêtes SQL (POSTGRESQL) pour table `personnes`

In [6]:
sql_supprimer_table_personnes = """
    DROP TABLE IF EXISTS personnes;
"""

sql_creer_table_personnes = """
    CREATE TABLE IF NOT EXISTS personnes (
    id serial primary key,
    prenom text,
    nom text not null
    );
"""

sql_inserer_personnes = """
    INSERT INTO personnes 
    (prenom, nom)
    VALUES (%s, %s);
"""

# EXTRA / POUR INFO si dict ('prenom': 'john', 'nom' : 'doe')
sql_inserer_personnes_dict = """
    INSERT INTO personnes 
    (prenom, nom)
    VALUES (%(prenom)s, %(nom)s);
"""

sql_lire_personnes = """
    SELECT *
    FROM personnes;
"""

## Application Personnes / Contacts

In [7]:
ma_base_donnees = "contacts"
utilisateur = "postgres"
mot_passe = os.environ.get('pg_psw')

In [8]:
conn = ouvrir_connection(ma_base_donnees, utilisateur, mot_passe)

type(conn)

psycopg2.extensions.connection

#### Suppression / création table `personnes`

In [9]:
supprimer_table(conn, sql_supprimer_table_personnes)

La table a été supprimée avec succès

In [10]:
creer_table(conn, sql_creer_table_personnes)

La table a été crée avec succès

#### Insertion

In [11]:
contacts = [('john', 'doe'), 
            ('jane', 'doe'), 
            ('jean', 'dupont'), 
            ('marie', 'durand'),
            ('carlos', 'none'),
            ('mike', 'smith')
           ]

In [12]:
inserer_donnees(conn, sql_inserer_personnes, contacts)

Les données ont été insérées avec succès

In [13]:
inserer_donnees(conn, sql_inserer_personnes, contacts)

Les données ont été insérées avec succès

#### Lecture

In [14]:
mes_contacts = lire_donnees(conn, sql_lire_personnes)

Les données ont été lues avec succès

In [15]:
mes_contacts

[(1, 'john', 'doe'),
 (2, 'jane', 'doe'),
 (3, 'jean', 'dupont'),
 (4, 'marie', 'durand'),
 (5, 'carlos', 'none'),
 (6, 'mike', 'smith'),
 (7, 'john', 'doe'),
 (8, 'jane', 'doe'),
 (9, 'jean', 'dupont'),
 (10, 'marie', 'durand'),
 (11, 'carlos', 'none'),
 (12, 'mike', 'smith')]

### Fin

In [16]:
conn.close()

## demo lecture seule

In [17]:
conn = ouvrir_connection(ma_base_donnees, utilisateur, mot_passe)

In [18]:
mes_contacts = lire_donnees(conn, sql_lire_personnes)

Les données ont été lues avec succès

In [19]:
mes_contacts

[(1, 'john', 'doe'),
 (2, 'jane', 'doe'),
 (3, 'jean', 'dupont'),
 (4, 'marie', 'durand'),
 (5, 'carlos', 'none'),
 (6, 'mike', 'smith'),
 (7, 'john', 'doe'),
 (8, 'jane', 'doe'),
 (9, 'jean', 'dupont'),
 (10, 'marie', 'durand'),
 (11, 'carlos', 'none'),
 (12, 'mike', 'smith')]

In [20]:
conn.close()

## demo comptage

In [21]:
conn = ouvrir_connection(ma_base_donnees, utilisateur, mot_passe)

In [22]:
sql_comptage = """
    SELECT COUNT(*)
    FROM personnes;
"""

In [23]:
nb_personnes = lire_donnees(conn, sql_comptage)

Les données ont été lues avec succès

In [24]:
nb_personnes

[(12,)]

In [25]:
conn.close()